<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AttendEase</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      href="{% static 'img/bgLogo.png' %}"
      type="image/icon type"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <form
            action="{% url 'loginDetails' %}"
            method="post"
            id="inputForm"
            class="shadow pt-3 rounded inputForm"
          >
            <img
              src="{% static 'img/finalbg.png' %}"
              class="img-fluid brand-logo logoImg mx-auto mb-4"
              alt="AttendEase Logo"
            />

            <div>{% csrf_token %} {{form}}</div>

            <button
              type="submit"
              id="submit"
              class="spinner-button submitBtn mt-1"
            >
              <div id="overlay" class="">
                <div id="spinnerDiv" class="" role="status"></div>
              </div>
              SUBMIT
            </button>

            <div class="social mt-3 rounded">
              <p class="socialTxt">Code by Faraz Hasan</p>
              <a href="https://github.com/SFarazH" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/syed-faraz-hasan"
                ,
                target="_blank"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyAJAFZOlRw1YNDyOCV1Yv3W9EOURWgOboM",
        authDomain: "attendease-96875.firebaseapp.com",
        projectId: "attendease-96875",
        storageBucket: "attendease-96875.appspot.com",
        messagingSenderId: "80053895846",
        appId: "1:80053895846:web:06a0b8d00acf27e0ca6a67",
        measurementId: "G-P1KLBXZSHR",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
      {% comment %} analytics.logEvent(analytics, "notification_received"); {% endcomment %}
    </script>
    <script>
      var form = document.getElementById("inputForm");
      var spinner = document.getElementById("spinnerDiv");
      var overlay = document.getElementById("overlay");

      form.addEventListener("submit", () => {
        spinner.classList.add("spinner-border");
        overlay.classList.add("overlay");
        console.log("ok");
      });
    </script>
  </body>
</html>
