* {
  font-family: "Gabarito", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #284b63;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  position: relative;
  min-height: 100%;
}

.success1 {
  color: #029602 !important;
}

.bg-success {
  background-color: #029602 !important;
}

.danger {
  color: #ed1b24 !important ;
}

.bg-danger {
  background-color: #ed1b24 !important;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: skyblue;
}

@media only screen and (min-width: 1200px) {
  .brand-logo {
    width: 45%;
  }
}

/* FOR LARGE DEVICES */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .brand-logo {
    width: 48%;
  }
}

/* FOR MEDIUM DEVICES */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brand-logo {
    width: 50%;
  }
}

/* FOR SMALL DEVICES */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    min-height: 100vh;
  }
  .brand-logo {
    width: 22%;
  }
  .socialTxt a {
    display: block; /* Display links as block elements */
    margin-bottom: 5px; /* Add spacing between links */
  }
}

.finalCard {
  text-align: center;
}

.logoImg {
  text-align: center;
}

footer {
  text-align: center;
  padding-top: 0.35em;
  justify-content: center;
  padding-bottom: 0.35em;
}

.socialTxt {
  font-size: 1.6em;
  margin-bottom: 0.2em;
  margin: 0;
  margin-right: 0.4em;
  margin-left: 0.4em;
}

.socialTxt a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

.fa-github,
.fa-linkedin-in {
  font-size: 2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  border-radius: 5px;
  margin-top: 3px;
}

.fa-github,
.fa-linkedin-in {
  font-size: 1.8em;
  color: black;
}

.githubMob {
  display: none;
}

@media only screen and (max-width: 575px) {
  .brand-logo {
    width: 50%;
  }
  .githubPC {
    display: none;
  }
  .githubMob {
    display: block;
    font-size: 2em;
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }

  .social div {
    display: flex;
  }
  .socialTxt {
    /* margin-bottom: 10px; */
    font-size: 1.4em;
  }

  .social a {
    margin-right: 5px;
  }

  .fa-github,
  .fa-linkedin-in {
    font-size: 2.2em;
    color: black;
  }
}

.errorDiv {
  display: flex;
  align-items: center;
}

.noDataDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finakCardError {
  text-align: center;
  align-items: center;
  margin: 0px !important;
  justify-content: center;
}

/* 
.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex: 1; 
} */
